/* PADRÕES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial;
    font-size: 16px;
    user-select: none;
}

:root {
    --primary-color: #0d1117;      
    --primary-light: #161a22;   

    --secondary-color: #212830;     
    --secondary-light: #2c3342;     
    --secondary-lighter: #383f53;   
}

#modal {
    width: 60vw;
    height: 90vh;
    position: fixed;
    inset: 0;
    margin: auto;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

/* ANIMAÇÕES */

.aparecer {
    animation: aparecer 0.2s forwards;
}
@keyframes aparecer {
  from { opacity: 0; }
  to { opacity: 1; }
}

.desaparecer{
    animation: desaparecer 0.2s forwards;
}
@keyframes desaparecer {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* RESPONSIVO */

@media (max-width: 768px) {
    #modal {
        width: 300px;
        height: 280px;
    }
}